/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body, html {
	overflow-x: hidden;
}

#landing {
	background-image: url("./images/background-img-2.png");
	height: calc(100vh - 40px);
	background-color: #070d29;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100vh;
}


#background-1 {
	display: inline-block;
	top: -35.5px;
	z-index: 0;
	height: 100vh;
}

nav {
	border: 2px solid #070d29;
	background-color: #070d29;
	position: absolute;
}

.navbar-toggler-icon {
	fill: red;
}

#navbarNav a{
	color: #12e1b9;
	font-size: 13px;
	margin: 0 30px;
}

#info, #profile {
	top: -35.5px;
}

#landing h1 {
	font-size: 5rem;
	font-weight: bold;
	line-height: 70px;
	letter-spacing: 17px;
}

#landing h3 {
	font-size: 3.1rem;
	font-weight: bold;
	line-height: 50px;
	letter-spacing: 9px;
}

#landing h4 {
	color: #12e1b9;
	font-size: 1.34rem;
	letter-spacing: 3.9px;
}

#landing p {
	color: lightslategray;
	font-weight: 10;
	font-size: 30px;
	rotate: 90deg;
	text-align: end;
	width: 400px;
	position: relative;
	animation: moveArrow 1s infinite;
}

@keyframes moveArrow {
	0% {
		bottom: 0;
	}

	50% {
		bottom: 10px;
	}

	100% {
		bottom: 0;
	}
}

#info {
	padding: 0 0 0 100px;
	z-index: 4;
}

#profile img {
	height: 99.2vh;
	z-index: 3;
	padding-left: 100px;
}

/*Projects Section*/
#projects {
	background-color: #eaecdf;
	padding: 50px 0;
}

#projects h2 {
	color: #00a99d;
	font-weight: bold;
	letter-spacing: 0.5em;
}

#projects h5 {
	color: #52cbbe;
	font-weight: bold;
}

#projects .card {
	border: 1.5px solid #00a99d;
	margin: 10px 0;
}

/*Tools Section*/

#tools {
	background-color: #070d29;
	padding: 50px 0;
}

#tools h2 {
	color: #00a99d;
	font-weight: bold;
	letter-spacing: 0.5em;
}

/*Contact Section*/
#contact {
	background-color: #eaecdf;
	padding-top: 50px;
}

#contact h2 {
	color: #00a99d;
	font-weight: bold;
	letter-spacing: 0.5em;
}

#contact i {
	color: #070d29;
	margin: 0 15px;
	font-size: 2rem;
	border: 2px solid floralwhite;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
	background-color: floralwhite;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-decoration: none;
}